[submodule "sparsehash"]
	path = sparsehash
	url = https://github.com/sparsehash/sparsehash
[submodule "CUTE"]
	path = UnitTests/CUTE
	url = https://github.com/PeterSommerlad/CUTE
[submodule "UnitTests/hayai"]
	path = UnitTests/hayai
	url = https://github.com/nickbruun/hayai.git
[submodule "plf_stack"]
	path = plf_stack
	url = https://github.com/mattreecebentley/plf_stack.git
